In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Data PreProcessing

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [4]:
data.head(10)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.09020,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.00030,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.00510,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.66080,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.00250,...,1,3,0,0,0,2,3,0,Normal,0
5,6,0.000003,udp,-,INT,2,0,784,0,333333.32150,...,1,2,0,0,0,2,2,0,Normal,0
6,7,0.000006,udp,-,INT,2,0,1960,0,166666.66080,...,1,2,0,0,0,2,2,0,Normal,0
7,8,0.000028,udp,-,INT,2,0,1384,0,35714.28522,...,1,3,0,0,0,1,3,0,Normal,0
8,9,0.000000,arp,-,INT,1,0,46,0,0.00000,...,2,2,0,0,0,2,2,1,Normal,0
9,10,0.000000,arp,-,INT,1,0,46,0,0.00000,...,2,2,0,0,0,2,2,1,Normal,0

In [5]:
data.shape

(82332, 45)

### We have 82,332 data points and 45 columns

In [6]:
data['proto'].value_counts()

tcp          43095
udp          29418
unas          3515
arp            987
ospf           676
sctp           324
any             96
gre             88
rsvp            64
ipv6            61
sep             58
sun-nd          54
swipe           52
mobile          52
pim             52
xns-idp         34
bbn-rcc         34
prm             34
leaf-1          34
argus           33
rdp             33
iso-tp4         33
ipnip           33
xnet            33
st2             33
pup             33
leaf-2          33
hmp             33
ggp             33
netblt          33
             ...
tp++            32
idpr-cmtp       32
aris            32
vmtp            32
il              32
xtp             32
wb-expak        32
ddp             32
rvd             32
micp            32
ipx-n-ip        32
cphb            32
pipe            32
sat-mon         32
sccopmce        32
gmtp            32
ipcomp          32
encap           32
ttp             32
kryptolan       32
cftp            32
narp            32
visa            32
crudp           32
sm              32
tcf             32
ipcv            32
pvp             32
ib              31
igmp            30
Name: proto, Length: 131, dtype: int64

## Here we got 131 types of protocol

In [7]:
labels=data['attack_cat']
final=data.drop(columns=['attack_cat'])

In [8]:
final.shape

(82332, 44)

In [9]:
final_dummy = pd.get_dummies(final)

Here we did one hot encoding

In [10]:
final_dummy.shape

(82332, 192)

In [11]:
#final_dummy.columns

In [12]:
#final_dummy = final_dummy.drop(columns=['state_ACC', 'state_CLO'])
a= list(final_dummy.columns)

# T-Distributed Stochastic Neighbourhood Embedding

In [68]:
final_dummy.head()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,service_snmp,service_ssh,service_ssl,state_ACC,state_CLO,state_CON,state_FIN,state_INT,state_REQ,state_RST
0,1,0.000011,2,0,496,0,90909.0902,254,0,180363632.0,...,0,0,0,0,0,0,0,1,0,0
1,2,0.000008,2,0,1762,0,125000.0003,254,0,881000000.0,...,0,0,0,0,0,0,0,1,0,0
2,3,0.000005,2,0,1068,0,200000.0051,254,0,854400000.0,...,0,0,0,0,0,0,0,1,0,0
3,4,0.000006,2,0,900,0,166666.6608,254,0,600000000.0,...,0,0,0,0,0,0,0,1,0,0
4,5,0.000010,2,0,2126,0,100000.0025,254,0,850400000.0,...,0,0,0,0,0,0,0,1,0,0

In [69]:
labels.head()

0    Normal
1    Normal
2    Normal
3    Normal
4    Normal
Name: attack_cat, dtype: object

In [70]:
from sklearn.manifold import TSNE
model = TSNE(n_components=2, random_state=0, perplexity = 30, n_iter = 5000)

In [ ]:
tsne_data = model.fit_transform(final_dummy)

In [ ]:
tsne_data.shape

In [ ]:
final.shape

In [ ]:
tsne_data = np.vstack((tsne_data.T, label)).T
tsne_df = pd.DataFrame(data=tsne_data, columns=("dim1", "dim2", "Result"))
sns.FacetGrid(tsne_df, hue="Result", size=6).map(plt.scatter, 'dim1', 'dim2').add_legend()
plt.title("TSNE for Malware")
plt.show()

# Decision Tree

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(final_dummy.drop(['id'], axis=1), labels,stratify=labels,test_size=0.20)

In [14]:
X_test.shape

(16467, 191)

In [61]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy',splitter='random')
clf = clf.fit(X_train, y_train)

In [62]:
ypred = pd.DataFrame({'pred': pd.Series(clf.predict(X_test))})

In [63]:
pred_value= ypred.values.tolist()

In [64]:
#print(pred_value)

In [65]:
test_value = y_test.values.tolist()

In [66]:
i=0
j=0
while(j<len(pred_value)):
    if(pred_value[j][0]==test_value[j]):
        i=i+1
    j=j+1

In [67]:
print("Accuracy is",i/len(test_value))

Accuracy is 0.8767231432562094

## Logistic regression

In [72]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='ovr')
clf = clf.fit(X_train, y_train)

C:\Users\iamni\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [73]:
ypred = pd.DataFrame({'pred': pd.Series(clf.predict(X_test))})

In [74]:
pred_value= ypred.values.tolist()

In [75]:
test_value = y_test.values.tolist()

In [76]:
i=0
j=0
while(j<len(pred_value)):
    if(pred_value[j][0]==test_value[j]):
        i=i+1
    j=j+1

In [77]:
print("Accuracy is",i/len(test_value))

Accuracy is 0.6213639400012145